

<div class="panel panel-default">
    <div class="panel-heading">Product Details</div>
    <div class="panel-body">
        <p>Name      <span id="name"></span></p>
        <p>Year      <span id="year"></span></p>
        <p>Price     <span id="price"></span></p>
        <p>Brand     <span id="brand"></span></p>
        <p>Catergory <span id="catergory"></span></p>

        <table class="table">

            <thead>
                <tr>
                    <th scope="col">Store</th>
                    <th scope="col">Quantity</th>
                </tr>
            </thead>
            <tbody id="stores">
            </tbody>
        </table>
    </div>
   
</div>